<html>
<head><meta charset="utf-8">
	<title>BULLIONTRADE</title>
	<link href="../images/bulliontrade.png" rel="icon" type="image/x-icon" /><meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" /><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script><!-- Behavioral Meta Data --><meta content="yes" name="apple-mobile-web-app-capable"><meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"><!-- Core Meta Data --><meta content="ThemeWagon" name="author"><meta content="The most spectacular coming soon template!" name="description"><meta content="Comming Soon, Responsive, Landing Page, One Page" name="keywords"><!-- Open Graph Meta Data --><meta content="The most spectacular coming soon template!"><meta content="ThemeWagon"><meta content="ThemeWagon"><meta content="website"><meta content="index.html"><!-- Twitter Card Meta Data -->
	<link href="favicon.png" rel="shortcut icon" type="image/png" /><!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]--><!-- CSS -->
	<link href="http://fonts.googleapis.com/css?family=Roboto:400,100,900" rel="stylesheet" type="text/css" /><!-- Styles -->
	<link href="css/loader.css" rel="stylesheet" type="text/css" />
	<link href="css/normalize.css" rel="stylesheet" type="text/css" />
	<link href="css/font-awesome.min.css" rel="stylesheet" />
	<link href="css/style.css" rel="stylesheet" type="text/css" /><!--[if lt IE 9]-->
<style type="text/css">
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
ul {
    display:inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  float:right;
}
li {
  display: inline;
  
}
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
.logo
{
    line-height:60px;
    max-width:100%;
    margin-left:10px;
    padding:10px;
    background-color:black;
}
.container
{
  
}
.bold
{
    margin-top:-10px; 
    font-family:Helvetica; 
    font-size:26px; 
    text-decoration:underline;
    text-transform:capitalize;
}
.footer {
  position:relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
  color: white;
  text-align: center;
  font-size:20px;
  height:160px;
}
.container
{
  
}
.text-1
{
    text-align:justify;
}
.text-2
{
    margin-left:15px;
    text-align:justify;
    
}

	</style>
</head>
<!--body start-->
<body>

    <div class="logo">
     <img src="../images/bulliontrade.png" style="width:330px; height:130px; background color:black; "/> 

    <img src="../images/apple-store-badge.png" align="right"style="margin-top:40px;"/>

    <img src="../images/google-play-badge.png" align="right"style="margin-top:40px;"/>
    
</div>
<nav class="navbar navbar-default">
<div class="container-fluid">
<div class="navbar-header"></div>

<ul class="nav navbar-nav">
	<li><a href="../live.html">Home</a></li>
	<li><a href="../about us.html">
	<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">About
                                Us<b class="caret"></b></a></li>
    <ul class="dropdown-menu">
    <li><a href="../history.html">History</a></li>
                                    
    <li><a href="../Visualize.html">Visualize</a></li>
    <li><a href="../asp.html">Aspirstion</a></li>
    <li><a href="../focus.html">Focus</a></li>
    <li><a href="../trade.html">Trade</a></li>
    <li><a href="../achievement.html">Achievement</a></li>
    <li><a href="../diversity.html">Diversity</a></li>
    <li><a href="../vision.html">Vision</a></li>
    </ul>
     </li>
	<li><a href="../rates.html">Liverates</a></li>
	<li><a href="../news.html">News</a></li>
	<li class="../dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Products<b
                                class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="gold.html">Gold</a></li>
                                    <li><a href="silver.html">Silver</a></li>
                                </ul>
                            </li>
	<li><a href="../investors.html">Investors</a></li>
	<li><a href="../book.html">Booking</a></li>
	<li><a href="../download.html">Download</a></li>
	<li><a href="../kyc.html">KYC</a></li>
	<li><a href="../faq.html">FAQ</a></li>
	<li><a href="../apps.html">Mobile Apps</a></li>
	<li><a href="../trading.html">Online Trading</a></li>
	<li><a href="../contactus.html">Contact Us</a></li>
</ul>
</div>
</nav>
<div>
<!--marquee start-->

<div id="marquee">
<div class="container">
<p><marquee scrollamount="5"> <span id="ltMarquee" style="font-size:20px; color:red;">&nbsp; Welcome to Bulliontrade Site.</span> </marquee></p>
</div>
</div>
</div>
<div class="container">
<div class="col-sm-12 cttext">&nbsp;<center><b class="bold">Our Branches</b></center><marquee scrollamount="5" ><span>Agra,&nbsp;</span><span>Ahmedabad,&nbsp;</span><span>Bangalore,</span> <span>Chennai,</span><span> Madurai,</span><span> Mumbai,</span><span> Delhi,</span><span> Vishakhapatnam,&nbsp;</span> <span>Vijayawada,&nbsp;</span><span>Nellore,</span><span> Salem,&nbsp;</span><span>Coimbatore,</span></marquee>
</div>
</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!-- terms and rules-->
 <div ng-if="UserInfo.approvedTermsAndConditions || !UserInfo.isAuthenticated">
	<ncy-breadcrumb></ncy-breadcrumb>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-2">
			<form name="tandc" ng-submit="approveTandC()">
				<div class="panel panel-default" style="margin-top:20px;">
					<div class="panel-body" style="max-height:600px; overflow-y:scroll; background-color:white;">
						<div style="text-align:center;" >
							<h1 style="text-decoration:underline;"> PRIVACY POLICY</h1><br>
							<h4><p style="text-align:center;">
							       &nbsp;
							</p></h4>
							<p class="text-2">
							<span><b>1.</b></span>  We at www.bulliontrade.co.in recognize and acknowledge that the individual and Personal Details that you bestow to us, is to be kept in exacting secrecy and to utilize the data just in the way which would be valuable to our clients. We think about our relationship with you as significant and endeavour to regard and protect your entitlement to security. We will shield the individual subtleties got from you with a similar level of care however no not exactly a sensible level of care, to forestall the unapproved use, spread, or distribution of this data as we secure our own private data of a like sort.
							</p>
							<p class="text-2">
							<span><b>2.</b></span>	We will utilize the individual data to improve our administration to you and to keep you refreshed about our new item or data that might hold any importance with you. The data gathered from you would be utilized in the correct soul and setting in which it is proposed to be utilized. Your data would be utilized by us to handle your exchanging demand and to do the settlements of your commitments.
                            </p>
                            <p class="text-2">
							<span><b>3.</b></span>	We would guarantee that we gather individual data just to the degree it is important to oversee our administrations in the most ideal way and what is required under the different guidelines of Indian Laws. To guarantee top notch administrations and a serious extent of significant worth expansion to you, we may join the data given by you on the web or through different channels.
                            </p>
                            <p class="text-2">
							<span><b>4.</b></span>	In specific situations, we might be needed to share the data given by you with the outsiders, where we feel they can add to include esteem and improve the nature of administrations granted by us to you. We will find a way to guarantee that the classification of your data is kept up by forcing exacting secrecy principles on all the outsiders with whom we part this data. In all conditions, we will guarantee that your own data is ensured by a severe privacy arrangement. We will not permit any outsiders to hold your own data longer than what is justified by the idea of administrations delivered.
                            </p>
                            <p class="text-2">
							<span><b>5.</b></span>	We would likewise grant your own data any place it is needed to be uncovered under law to any of the legislative organization or administrative bodies.
                            </p>
                            <p class="text-2">
							<span><b>6.</b></span>  We guarantee that the individual data given to us by you on the web is put in the made sure about part of our site. We utilize the most progressive encryption innovation, Secure Socket Layer (SSL), to guarantee that the data communicated among you and us over the Internet is protected and can't be accessed by any other entity. SSL has been generally acknowledged on the World Wide Web for validated and encoded correspondence among customers and workers. To guarantee security of admittance to the individual data and exchange subtleties, the admittance to the made sure about zone of our site is confined by the novel login ID and Password chose by you. You ought to be cautious in taking care of the ID and secret key and you ought to guarantee that you don't uncover it to anyone, nor do you keep it recorded as a hard copy. You should continue changing your secret key intermittently.
                            </p>
                            <p class="text-2">
							<span><b>7.</b></span>  To guarantee the wellbeing of your exchanging access, our innovation consequently logs you out of the site if no action is enlisted for 30 minutes. Nonetheless, you ought to guarantee that each time you leave your terminal you log yourself out this forestalls another person from getting to your record on the off chance that you leave your PC and your meeting has not "planned out.
                            </p>
                            <p class="text-2">
							<span><b>8.</b></span>	To empower us to serve you better, it is fundamental that your own data accessible with us is refreshed and precise. Our site empowers you to refresh your own data. You can likewise send us an email at Customer Service and we will guarantee that your data is refreshed and shielded from any abuse or unapproved disclosure.
                            </p>
						</div>
					</div>
				</div>
				<div style="text-align:center;" ng-if="settings.Authentication.RequireTermsAndConditions && !UserInfo.approvedTermsAndConditions && UserInfo.isAuthenticated">
					<button style="margin:20px;" class="btn btn-primary" type="submit">Agree to Terms and Conditions</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!--marquee end-->

<!--table ends-->
<div class="footer">
    <div class="container">
 <div class="col-sm-12">
               <h3 style="text-decoration: underline; text-align: center; font-size: 24px; color:white;">
                        DISCLOUSRE</h3>
                    <h2 style=" text-align: center; font-size : 14px; color:gold">
                        "We are doing Online Trading" </h2>
                 <center>
                    <p class="terms">
                        <a href="../pages/terms.html">Privacy & Policy&nbsp;|</a> &nbsp;|&nbsp;
                        <a href="../pages/disclaimer.html">Disclaimer |</a> &nbsp;|&nbsp; <a href="#">
                            Sitemap</a>
                    </p>
                </center>
                </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3"><span color="blue">Powered By:</span>
    <a href="https://aramcogreens.com/"> Aramcogreens.com</a>
  </div>
  <!-- Copyright -->


</div>
</body>
</html>